---
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-vcs-permalinks
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: fix-byte-order-marker
    -   id: mixed-line-ending
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: trailing-whitespace
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-check-blanket-noqa
    -   id: python-check-mock-methods
    -   id: python-no-eval
    -   id: python-no-log-warn
    # -   id: python-use-type-annotations
    -   id: text-unicode-replacement-char
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
    -   id: isort
        name: isort
        args: ["--profile=black"]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v3.1.0
    hooks:
    -   id: setup-cfg-fmt
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
    -   id: black
# -   repo: https://github.com/PyCQA/docformatter
#     rev: v1.7.5
#     hooks:
#     -   id: docformatter
#         args: [--in-place, --wrap-summaries, "88", --wrap-descriptions, "88", --blank]
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
    # Run the linter.
    -   id: ruff
        types_or:
        -   python
        -   pyi
        args:
        -   --fix
    # Run the formatter.
    # -   id: ruff-format
    #     types_or:
    #     -   python
    #     -   pyi
-   repo: https://github.com/dosisod/refurb
    rev: v2.2.0
    hooks:
    -   id: refurb
        args: [--ignore, FURB126, --ignore, FURB184]
-   repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
    -   id: interrogate
        args: [-v, --fail-under=40]
        exclude: src/caregiving/model/shared.py
-   repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
    -   id: mdformat
        additional_dependencies: [
            mdformat-gfm,
            mdformat-black,
        ]
        args: [--wrap, "88"]
        files: (README\.md)
-   repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
    -   id: mdformat
        additional_dependencies: [
            mdformat-myst,
            mdformat-black,
        ]
        args: [--wrap, "88"]
        files: (docs/.)
        # Exclude files with admonitions.
        # exclude: |
        #     (?x)^(
        #         path/to/file.py
        #     )$
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        exclude: ^src/caregiving/moments/_task_care_mix_statistical_office\.py$|^src/sandbox/
-   repo: meta
    hooks:
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.
